.testimonials{
    background: #eef8fd;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonials-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 96px;
    h2{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 42px;
        line-height: 138%;
        color: #172026;
    }
    p{
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        text-align: center;
        color: #36485c;
    }
}
.testimonials-slider{
    height: 690px;
    width: 100%;
    background-color: #172026;
    margin-top: 72px ;
    margin-bottom:104px ;
}
.swiper{
    height: 214px;
    width: 100%;
    margin-top: 16px;
}
.swiper-wrapper{
   
}
.recall{
    padding: 24px 24px 26px 24px;
    border-radius: 16px;
    width: 519px;
    height: 214px;
    background-color: rgb(255, 255, 255);
}
.swiper-slide {
  
}

.profile-name{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #172026;
}
.profile-position{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #5f7896;
}
.information{
    width: 319px;
    margin-left: 16px;
    margin-right: 24px;
}
.recall-header{
    display: flex;
    align-items: center;
}
.recall-main{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    color: #36485c;
}

